<!DOCTYPE html>
<html lang ="en-ca">
<link rel="stylesheet" href="GamePageStyle.css">

<a href="{% url 'index' %}">
<h1> 
<img src="wireframe image.png" alt="GameScore-Logo" width="50" height="50">
GameScore </h1> 
</a> 
<!-- Contains a label form and button for a search bar-->
<h1>
<div class = "topsearch">
<form> 
    <label for="search">Search:</label> 
    <input type="text" id="search" name="searchbar" autocomplete = "" placeholder="Search..."> 
    <button type ="button">🔎</button>
</form>
<br>
<a href="{% url 'login' %}">
    <label for="log/sign">Login/SignUp</label>
</a>
</h1>
</div>

<h1>{{game.name}}</h1>
<img src="wireframe image.png" alt="GameScore-Logo" width="250" height="200"> <br> 

<body> Desription: <br>
{{game.description}}

 <h3> Overall Score: <br> {{game.overallRating}}/10  <br> <br>
          <form action="{% url 'submitReview' %}" method="post">
{% csrf_token %}
    <label for="Title">Title</label>
    <input id="Title" type="text" name="Title" value="">
    <br>
    <label for="Description">Description</label>
    <input id="Description" type="text" name="Description" value="">
    <br>
         <label for="score">Review Score:</label>
         <select name="score" id="score">
             <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    <input type="submit" value="Submit Review">
    </form>
     <br>
     <br>

    Top Review: <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <br>
    <br>

    Trusted Review: <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <br>
    <br>

    Followed Reviewers: <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <br>
    <br>
     <br> Make a review for this game:
     <br>
         Reviews:
     <br>
        -------------------------------------
{% for review in reviews %}
     <br>
    {{review.title}}
    <br>
     Score: {{review.score}}
    <br>
     {{review.description}}
     <br>
     -------------------------------------
{% endfor %}
     <br>
     <br>
 <h3>

<!-- Contains labels and images for a featured game list -->
<h2> Featured Game: 
    <img src="wireframe image.png" alt="featured game" width="250" height="75"> <br> <br>
    
     Top Rated: 
    <img src="wireframe image.png" alt="Top Rated" width="250" height="75"> <br> <br>
    
    Indie Hits:
    <img src="wireframe image.png" alt="Indie Hits" width="250" height="75"> <br> <br>
    
    </h2>
    
    <div class = featureFilters>
    <!-- Creates a browse menu, with a search bar, elements in a list and search filters-->
    <div class = "searchList">
    <h3> 
        <form> 
        <label for="search">Search:</label> 
        <input type="text" id="search2" name="searchbar" placeholder="Search..."> 
        </form>
    
        <ul>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #1 </p></li> <hr>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #2 </p></li> <hr>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #3 </p></li> <hr>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #4 </p></li> <hr>
        </ul>
    
    </h3>
</div>
    
    <h3> 
        Filters: 
        <ul>
            <li> Genre
                <form>
                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Action </label> <br>
                    
                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Adventure </label> <br>

                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Fighting</label> <br>

                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Platformer</label> <br>

                </form> <br>

            </li>

            <li> Company 
                <form> 
                    <input type="radio" id="html" name="company" value="Any">
                    <label for="Nintendo">Any</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">Nintendo</label> <br>

                    <input type="radio" id="html" name="company" value="UbiSoft">
                    <label for="Nintendo">UbiSoft</label> <br>

                    <input type="radio" id="html" name="company" value="Electronic Arts">
                    <label for="Nintendo">Electronic Arts</label> <br>
                    <br>
                </form>
            </li>
            
            <li> Age Rating
                <form> 

                    <input type="radio" id="html" name="company" value="Any2">
                    <label for="Nintendo">Any</label> <br>

                    <input type="radio" id="html" name="company" value="Everyone">
                    <label for="Nintendo">Everyone</label> <br>

                    <input type="radio" id="html" name="company" value="Everyone10+">
                    <label for="Nintendo">Everyone 10+</label> <br>

                    <input type="radio" id="html" name="company" value="Teen">
                    <label for="Nintendo">Teen</label> <br>

                    <input type="radio" id="html" name="company" value="Mature">
                    <label for="Nintendo">Mature</label> <br>
                </form>
                <br>
            </li>

            <li> Review Score

                <form>
                <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">Any</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">0-1</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">1-2</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">3-4</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">4-5</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">5-6</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">7-8</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">9-10</label> <br>

                </form>


            </li>
        </ul>
    </h3>
</div>
</body> 
    
</html>
