<!DOCTYPE html>
<html lang ="en-ca">
{% load static %}
<link rel="stylesheet" href="{% static 'GamePageStyle.css' %}">

<a href="{% url 'index' %}">
<h1> 
<img src="{% static 'gamescore_logo_2.png' %}" alt="GameScore-Logo" width="120" height="50">
GameScore </h1> 
</a> 
<!-- Contains a label form and button for a search bar-->
<h1>
<div class = "topsearch">
<form> 
    <label for="search">Search:</label> 
    <input type="text" id="search" name="searchbar" autocomplete = "" placeholder="Search..."> 
    <button type ="button">🔎</button>
</form>
<br>
<a href="{% url 'login' %}">
    <label for="log/sign">Login/SignUp</label>
</a>
</div>
    </h1>

<h1>{{game.name}}</h1>
<div class="title"> 
<img src="wireframe image.png" alt="GameScore-Logo" width="700" height="350"> <br> 

 <h3> Overall Score: <p>{{game.overallRating}}/10</p> <br>

    Top Review: <br> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p> 
    <br>

    Trusted Review: <br> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
    <br>

    Followed Reviewers: <br> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p> <br>
    <br>
 

 <div class="descript"> 
  <h4> Desription: </h4>
  <p> {{game.description}} </p>
</div>

</div>

<div class="submitreview"> 
          <form action="{% url 'submitReview' %}" method="post">
{% csrf_token %}
    <label for="Title">Title</label>
    <input id="Title" type="text" name="Title" value="">
    <br>
    <label for="Description">Description</label>
    <input id="Description" type="text" name="Description" value="">
    <br>
         <label for="score">Review Score:</label>
         <select name="score" id="score">
             <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    <input type="submit" value="Submit Review">
    </form>
     <br>
     <br><br><br>
    <div class="makereview"> 
     <br> Make a review for this game:
     <br>
         Reviews:
     <br>
        -------------------------------------
{% for review in reviews %}
     <br>
    {{review.title}}
    <br>
     Score: {{review.score}}
    <br>
     {{review.description}}
     <br>
     -------------------------------------
{% endfor %}
</div>
     <br>
     <br>
 <h3>

 </div>

<!-- Contains labels and images for a featured game list -->
<div class = "featured"> 
<h3> Featured Game: </h3> <br>
    <img src="wireframe image.png" alt="featured game" width="250" height="75"> <br> <br>
</div>

<div class="Top">
    <img src="wireframe image.png" alt="Top Rated" width="250" height="75"> <br> <br>
     <h3> Top Rated: </h3> 
</div>

<div class="featured"> 
    Indie Hits:
    <img src="wireframe image.png" alt="Indie Hits" width="250" height="75"> <br> <br>
    </h2>
</div>
    
    <div class = featureFilters>
    <!-- Creates a browse menu, with a search bar, elements in a list and search filters-->
    <div class = "searchList">
    <h3> 
        <form> 
        <label for="search">Search:</label> 
        <input type="text" id="search2" name="searchbar" placeholder="Search..."> 
        </form>
    
        <ul>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #1 </p></li> <hr>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #2 </p></li> <hr>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #3 </p></li> <hr>
             <li> <img src="wireframe image.png" alt="Filler Game" width="140" height="75"> <p> Game #4 </p></li> <hr>
        </ul>
    
    </h3>
</div>
    
    <h3> 
        Filters: 
        <ul>
        <li> Genre
            <form>
                <input type="checkbox" id="genre1" name="Action" value="Action">
                <label for="genre1"> Action </label> <br>

                <input type="checkbox" id="genre2" name="Adv" value="Action">
                <label for="genre2"> Adventure </label> <br>

                <input type="checkbox" id="genre3" name="Action" value="Action">
                <label for="genre3"> Fighting</label> <br>

                <input type="checkbox" id="genre4" name="Action" value="Action">
                <label for="genre4"> Platformer</label> <br>

            </form> <br>

        </li>

        <li> Company
            <form>
                <input type="radio" id="com1" name="company" value="Any">
                <label for="com1">Any</label> <br>

                <input type="radio" id="com2" name="company" value="Nintendo">
                <label for="com2">Nintendo</label> <br>

                <input type="radio" id="com3" name="company" value="UbiSoft">
                <label for="com3">UbiSoft</label> <br>

                <input type="radio" id="com4" name="company" value="Electronic Arts">
                <label for="com4">Electronic Arts</label> <br>
                <br>
            </form>
        </li>

        <li> Age Rating
            <form>

                <input type="radio" id="age1" name="company" value="Any2">
                <label for="age1">Any</label> <br>

                <input type="radio" id="age2" name="company" value="Everyone">
                <label for="age2">Everyone</label> <br>

                <input type="radio" id="age3" name="company" value="Everyone10+">
                <label for="age3">Everyone 10+</label> <br>

                <input type="radio" id="age4" name="company" value="Teen">
                <label for="age4">Teen</label> <br>

                <input type="radio" id="age5" name="company" value="Mature">
                <label for="age5">Mature</label> <br>
            </form>
            <br>
        </li>

        <li> Review Score

            <form>
            <input type="radio" id="score1" name="company" value="Nintendo">
                <label for="score1">Any</label> <br>

                <input type="radio" id="score2" name="company" value="Nintendo">
                <label for="score2">0-1</label> <br>

                <input type="radio" id="score3" name="company" value="Nintendo">
                <label for="score3">1-2</label> <br>

                <input type="radio" id="score4" name="company" value="Nintendo">
                <label for="score4">3-4</label> <br>

                <input type="radio" id="score5" name="company" value="Nintendo">
                <label for="score5">4-5</label> <br>

                <input type="radio" id="score6" name="company" value="Nintendo">
                <label for="score6">5-6</label> <br>

                <input type="radio" id="score7" name="company" value="Nintendo">
                <label for="score7">7-8</label> <br>

                <input type="radio" id="score8" name="company" value="Nintendo">
                <label for="score8">9-10</label> <br>

            </form>


        </li>
    </ul>
    </h3>
</div>
</body> 
    
</html>
