<!DOCTYPE html>
<html lang ="en-ca">
    <link rel="stylesheet" href="GamePageStyle.css">

<img src="wireframe image.jpg" alt="GameScore-Logo" width="50" height="50">
<h1> GameScore </h1>

<!-- Contains a label form and button for a search bar-->
<form> 
    <label for="search">Search:</label> 
    <input type="text" id="search" name="searchbar" autocomplete = "" placeholder="Search..."> 
    <button type ="button">🔎</button>
</form>
<br> 
<body> <label for="log/sign">Login/SignUp</label></body>


<h1> Game Name: </h1>
<img src="wireframe image.jpg" alt="GameScore-Logo" width="250" height="200"> <br> 

<body> Game Desription: Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam


    
 <h3> Overall Score: <br> X/10  <br> <br> 

    Top Review: <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <br>
    <br>

    Trusted Review: <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <br>
    <br>

    Followed Reviewers: <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <br>
    <br>


<!-- Contains labels and images for a featured game list -->
<h2> Featured Game: 
    <img src="wireframe-image.jpg" alt="featured game" width="250" height="75"> <br> <br>
    
     Top Rated: 
    <img src="wireframe-image.jpg" alt="Top Rated" width="250" height="75"> <br> <br>
    
    Indie Hits:
    <img src="wireframe-image.jpg" alt="Indie Hits" width="250" height="75"> <br> <br>
    
    </h2>
    
    <!-- Creates a browse menu, with a search bar, elements in a list and search filters-->
    <h3> 
        <form> 
        <label for="search">Search:</label> 
        <input type="text" id="search2" name="searchbar" placeholder="Search..."> 
        </form>
    
        <ul>
             <li> <img src="wireframe-image.jpg" alt="Filler Game" width="140" height="75"> Game #1</li>
             <li> <img src="wireframe-image.jpg" alt="Filler Game" width="140" height="75"> Game #2</li>
             <li> <img src="wireframe-image.jpg" alt="Filler Game" width="140" height="75"> Game #3</li>
             <li> <img src="wireframe-image.jpg" alt="Filler Game" width="140" height="75"> Game #4</li>
        </ul>
    
    </h3>
    
    <h3> 
        Filters: 
        <ul>
            <li> Genre
                <form>
                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Action </label> <br>
                    
                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Adventure </label> <br>

                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Fighting</label> <br>

                    <input type="checkbox" id="Action" name="Action" value="Action">
                    <label for="Action"> Platformer</label> <br>

                </form> <br>

            </li>

            <li> Company 
                <form> 
                    <input type="radio" id="html" name="company" value="Any">
                    <label for="Nintendo">Any</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">Nintendo</label> <br>

                    <input type="radio" id="html" name="company" value="UbiSoft">
                    <label for="Nintendo">UbiSoft</label> <br>

                    <input type="radio" id="html" name="company" value="Electronic Arts">
                    <label for="Nintendo">Electronic Arts</label> <br>
                    <br>
                </form>
            </li>
            
            <li> Age Rating
                <form> 

                    <input type="radio" id="html" name="company" value="Any2">
                    <label for="Nintendo">Any</label> <br>

                    <input type="radio" id="html" name="company" value="Everyone">
                    <label for="Nintendo">Everyone</label> <br>

                    <input type="radio" id="html" name="company" value="Everyone10+">
                    <label for="Nintendo">Everyone 10+</label> <br>

                    <input type="radio" id="html" name="company" value="Teen">
                    <label for="Nintendo">Teen</label> <br>

                    <input type="radio" id="html" name="company" value="Mature">
                    <label for="Nintendo">Mature</label> <br>
                </form>
                <br>
            </li>

            <li> Review Score

                <form>
                <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">Any</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">0-1</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">1-2</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">3-4</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">4-5</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">5-6</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">7-8</label> <br>

                    <input type="radio" id="html" name="company" value="Nintendo">
                    <label for="Nintendo">9-10</label> <br>

                </form>


            </li>
        </ul>
    </h3>
    
</body> 
    
</html>
