<!DOCTYPE html>
<html lang ="en-ca">

<a href="{% url 'index' %}">
<img src="wireframe image.jpg" alt="GameScore-Logo" width="50" height="50">
<h1> GameScore </h1>
</a>
<!-- Contains a lable, form and button for a search bar-->
<form class="searchbar">
    <label for="search">Search:</label>
    <input type="text" id="search" name="searchbar" autocomplete = "" placeholder="Search...">
    <button type ="button">🔎</button>
</form>
<br>
<body class="signup"> <label for="log/sign">Login/SignUp</label></body>

<!-- Section for Create a New Account form -->
<div>
    <h1>Create a New Account</h1>
    <form>
        <label>Username: </label>
        <input type="text" placeholder="">

        <hr>

        <label>Email: </label>
        <input type="email" placeholder="">

        <hr>

        <label>Password: </label>
        <input type="password" placeholder="">

        <hr>

        <label>Confirm Password: </label>
        <input type="password" placeholder="">

        <hr>

        <input type="button" value="Sign Up">
    </form>

    <!-- Leads to login page -->
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>