body {
    background-color: #5a6773;
}
* {
    box-sizing: border-box;
    font-family: 'Muli';
}

*:focus {
    outline: none;
}

/* Header */
.header {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 50px;
}

.header img {
    margin-left: 40px;
    padding-top: 20px;
}

h1 {
    text-decoration: none;
    color: white;
    margin-left: 180px;
    font-family: 'Muli';
}

.header a:visited {
    color: black;
    text-decoration: none;
}

/* Searchbar */
.searchbar input {
    position: relative;
    margin-left: 1030px;
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    transition: 0.5s;
}

/* Search icon */
.searchbar i {
    position: absolute;
    font-size: 20px;
    margin-left: -40px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.featureFilters i {
    color: black;
    margin-top: 17px;
}

/* HOVER - Search icon  */
/* CHANGE COLOR ONCE PALETTE IS DECIDED */
.searchbar i:hover {
    color: #ff5d42;
    transition: 0.5s;
}

/* Login/Sign Up text */
.loginsignup {
    font-size: 20px;
    margin-left: 25px;
    color: black;
    transition: 0.5s;
    text-decoration: none;
}

.loginsignup:visited{
    text-decoration: none;
    color: black;
}

/* HOVER - Login/Sign Up */
/* CHANGE COLOR ONCE PALETTE IS DECIDED */
.loginsignup:hover {
    color: #ff5d42;
    transition: 0.5s;
}


h2 {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
    justify-content: space-between;
}

.title img {
    margin-left: 50px;
    margin-top: 50px;
}

.title {

    display: flex;
    background-color: #3e464e;
   width: 1500px;
   height: 700px;
    margin: auto;
     border-radius: 25px;
    border: 1px solid black;
}

.title h3 {
    padding: 30px;
    margin-left: 50px;
    font-size: 30px;
    color: white; 
}

.title p {
    font-size: 15px;
    color: white; 
}

.descript {
    position: absolute; 
    color: white; 
    font-size: 30px;
    margin-left: -750px;
   margin-top: -300px;
    
}

.submitreview {
    margin: auto;
    width: 800px;
    height: 200px;
    display: flex;
    padding: 0px 160px;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    color:white; 
    font-size: 30px;
   border: 1px solid black;
    border-radius: 25px;
    background-color: #3e464e;

}

.searchList {
    font-size: 30px;
    padding-left: 80px; 
 
 }
 
 .searchList input {
     background-color: white;
     border-radius: 20px; 
     width:300px;
     font-size:20px;
     padding: 5px 10px;
     margin-left: 10px;
        
 }
 
 .searchList li {
     list-style-type: none;
     display: flex; 
     padding: 2px; 
     text-align: center;
 }
 
 .searchList hr {
     
     border: 1px solid black; 
     width: 160%;
     
 }
 
 .searchList p {
     
     margin-left: 10px;
     margin-top: 20px;
     
 }
 
 .log :hover {
    text-decoration: underline;
    }
    

.featureFilters {
display: flex;
    justify-content: space-between;
    color: white;
display: flex;
width: 870px;
    height: 850px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
background-color: #3e464e;
border-width: 30px;
justify-content: space-between;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #3e464e;
padding: 50px;
}

.searchList h3 {
    margin-right: 100px;
}

.filters {
    padding: 40px;
    padding-right: 90px;
    
}

.filters ul {
    list-style-type: none;
}

.makereview p {
    color: white;
    text-align: center;
    font-size: 30px;
}

.rev {

   border: 1px solid black;
    border-radius: 25px;
    background-color: #3e464e;
    margin: auto;
    width: 1000px;
    height: 100px;
    margin-top: 20px;
    text-align: left;
    color:white;
    font-size: 15px;
    font-family: 'Muli';

}

.rev p {
    margin-left: 30px;
    margin-bottom: 10px;

}
