<!DOCTYPE html>
<html lang ="en-ca">

<link rel="stylesheet" href="styles.css">

<header class="header">
    <img src="wireframe image.jpg" alt="GameScore Logo" width="50" height="50">
    <h1> GameScore </h1>
    
    <!-- Contains a lable, form and button for a search bar-->
    <form>
        <label for="search">Search:</label>
        <input type="text" id="search" name="searchbar" autocomplete = "" placeholder="Search...">
        <button type ="button">🔎</button>
    </form>
    <br>
    <body class="login"> <label for="log/sign">Login/SignUp</label></body>
</header>


<!-- Section for Login form -->
<div class="form">
    <h1>Login</h1>
    <form>
        <input type="text" placeholder="Username: ">

        <hr class="hr">

        <input type="password" placeholder="Password: ">

        <hr class="hr">

        <input type="button" value="Login">
    </form>
    
    <!-- Leads to signup page -->
    <p class="newaccount"><a href="signup.html">Make a new account</a></p>

</div>